@model List<Depoimento>

<head>
    <link rel="stylesheet" href="~/css/depoimentos.css" asp-append-version="true" />
</head>

<header id="navbar">
    <div id="navbar-inner">
        <img src="./img/logo.jfif" alt="Logo" id="logo">
        <h2>Deixe seu Depoimento</h2>
        <a href="index.html" id="backToHome">
            <i class="fas fa-arrow-left"></i>
        </a>
    </div>
</header>


<section id="testimonials">
    <div class="testimonial-form">
        <h3>Escreva seu Depoimento</h3>
        <form id="testimonial-form" method="post">
            <label for="name">Nome:</label>
            <input type="text" id="name" name="name" placeholder="Digite seu nome" required>
            @* <span asp-validation-for="NomeAutor" class="text-danger"></span> *@
            
            <label for="name">Idade:</label>
            <input type="text" id="age" name="age" placeholder="Digite sua idade" required>
            @* <span asp-validation-for="IdadeAutor" class="text-danger"></span> *@

            <label for="testimonial">Depoimento:</label>
            <textarea id="testimonial" name="testimonial" rows="5" placeholder="Conte-nos sobre sua experiência..."
                required></textarea>
            @* <span asp-validation-for="Texto" class="text-danger"></span> *@

            <button type="submit" class="submit-btn" asp-controller="Home" asp-action="Create">Enviar Depoimento</button>
        </form>
    </div>


    <div id="testimonials-display">
        <h4>Depoimentos Recentes</h4>

        @foreach (var depoimento in Model)
        {
            <div class="testimonial-card">
                <h5>@depoimento.NomeAutor - @depoimento.IdadeAutor anos</h5>
                <p>@depoimento.Texto</p>
            </div>
        }

    </div>
</section>

<footer id="footer">
    <p>&copy; 2025 © Projeto "Descobrimos o TEA na família. E agora?</p>
</footer>

@* <script src="js/depoimentos.js" asp-append-version="true"></script> *@